.hero {
  padding: 188px 0;
  background: #2e2f42;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
}

.hero-title {
  max-width: 496px;
  text-align: center;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
}
